* {
    box-sizing: border-box;
    font-family: Helvetica;
    margin: 0;
}

label.error {
    color:darkred;
}



html {
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #ffd1e6;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #93cdff;
    text-align: center;
    flex-basis: 100%;
    border-top: solid white 2px;
}

footer p {
    color: #fff2f9;
    padding: 25px 5px 25px 5px;
}


/* Navigáció formázása */

nav {
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    order: -2;
    flex-basis: 100%;
    border-bottom: solid white 4px;
}

nav ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

nav li a {

    display: block;
    padding: 8px;
    margin-bottom: 6px;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    color: black;


}

nav li a#aktiv {
    background-color: #93cdff;
    color: #fff2f9;
}

nav li a:hover,
nav li a#aktiv:hover {
    background-color: #ff93cd;
    color: #fff2f9;
}

h3,
h4 {
    text-align: center;
    padding-top: 15px;
    font-family: "Parkinsans", sans-serif;
}

/* Tartalom formázása */

.cim {
    text-align: left;
    padding-left: 20px;
    margin: 15px 0 0 0;
    flex-basis: 100%;
    font-family: "Parkinsans", sans-serif;
}

#valasz {
    display: none;

}

.szovegdoboz p {
    text-align: justify;
    padding: 20px;
}

.jelszoform {
    display: flex;
    justify-content: center;
    padding: 5px 0 30px 0;
}

.szovegdoboz {
    align-content: center;
}




.banner {
    flex-basis: 100%;
    background-color: #ff93cd;
    margin: 10px 0 10px 0;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    align-content: center;
}

.banner2 {
    flex-basis: 100%;
    background-color: #93cdff;
    margin: 10px 0 10px 0;
    border-top: solid 2px white;
    border-bottom: solid 2px white;
    align-content: center;
}

.banner>*,
.banner>*>*,
.banner2>*,
.banner2>*>* {
    text-align: center;
    padding-bottom: 14px;
    color: white;
}

.italic {
    font-style: italic;
}

.fenykep {
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    overflow: hidden;
    max-width: 98%;
    align-items: center;
    margin: 1%;
}

.fenykep img {
    height: 400px;
    object-fit: cover;
    transform: scale(0.95);
}

.fenykepbanner {
    flex-shrink: 10;
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    overflow: hidden;
    align-items: center;
    zoom: 0.35;

    max-width: 100%;
}

p {
    margin: 0;
}

.vastag {
    font-weight: bolder;
}

/* Űrlap formázásai */

.fullurlap>* {
    padding: 0 0 20px 20px;

}

.fullurlap {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 20px;
    border: solid black 2px;
}

.fullurlap input,
option, 
select {
    background-color: #ffd1e6;
}

#jelszobox, #ellenorzes {
    margin: 5px;
    border: solid 2px black;
    background-color: white;
    color: #ff93cd;
}

.urlapsend {
    text-align: center;
}

#urlapbox {
    display: flex;
    flex-basis: 100%;
}

.urlapcim {
    padding: 0 0 20px 0;
}

/* Galéria formázásai */

.slider {
    width: 80%;
    min-width: 400px;
    margin: 20px auto;

}

.slick-slide {
    margin: 0px 5px;
}

.slick-slide img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}

.slick-slide {
    transition: all ease-in-out 1s;
    opacity: .3;
}

.slick-active {
    opacity: .7;
}

.slick-current {
    opacity: 1;
}

@media all and (min-width: 600px) {
    body {
        flex-direction: row;
    }

    nav {

        justify-content: space-between;
    }

    nav ul {
        flex-direction: row;
        justify-content: space-around;
        background-color: white;
        border-radius: 15px;
        width: 100%;

    }

    nav li {
        flex-basis: 20%;
    }

    nav li a {
        margin: 0;
    }

    .fullurlap {
        flex-direction: row;
        justify-content: space-between;
    }

    .urlap1,
    .urlap2 {
        flex-basis: 50%;
    }

    .urlap3,
    .urlapsend,
    .urlapcim {
        flex-basis: 100%;
    }

    .kep1,
    .art1 {
        flex-basis: 48%;
        margin: 1%;
    }

    .cim {
        order: -1;
        text-align: center;
    }


}

@media all and (min-width: 900px) {
    nav {
        flex-direction: row;
    }

    .slider {
        width: 70%;
    }

    .banner {
        flex-basis: 70%;
        border-radius: 40px;
        border: solid 2px black;
    }

    .banner2 {
        flex-basis: 70%;
        border-radius: 40px;
        border: solid 2px white;
    }

    nav ul {
        width: 80%;
    }


    .urlap1,
    .urlap2,
    .urlap3 {
        flex-basis: 33%;
    }

    .urlapsend {
        flex-basis: 100%;
    }


    .kep1,
    .art1 {
        flex-basis: 34%;
        margin: 1%;
    }


    .art2,
    #urlapbox,
    .fenykepbanner {
        flex-basis: 70%;
    }

    .fenykepbanner {
        border-radius: 100px;
    }

}